<span>Bienvenido, {{ fullName }}</span>
<ul class="navbar-nav">
  <li>
    <div class="dropdown" ngbDropdown placement="auto">
    </div>
  </li>
  <li>
    <div class="dropdown drp-user" ngbDropdown placement="auto">
      <a href="javascript:" ngbDropdownToggle data-toggle="dropdown">
        <i class="icon feather icon-user"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-end profile-notification" ngbDropdownMenu>
        <ul class="pro-body">
          <li>
            <button type="button" class="dropdown-item">
              <i class="feather icon-user"></i>
              Perfil
            </button>
          </li>
          <li>
            <button type="button" class="dropdown-item" (click)="logout()">
              <i class="feather icon-log-out"></i>
              Salir
            </button>
          </li>
        </ul>
      </div>
    </div>
  </li>
</ul>
